* {
   margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
section{
margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    box-sizing: border-box;
   border: 3px solid black;
   padding: 10px;
   background-color:  rgb(203, 195, 227);
}

.img {
    margin-top: 20px;
    box-shadow: 5px 2px 5px black;
    width: 200px;
    border-radius: 50%;
}

.background {
    position: relative;
    /* background-image: radial-gradient(circle at 29% 55%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 4%, transparent 4%, transparent 44%, transparent 44%, transparent 100%), radial-gradient(circle at 85% 89%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 51%, transparent 51%, transparent 52%, transparent 52%, transparent 100%), radial-gradient(circle at 6% 90%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 53%, transparent 53%, transparent 64%, transparent 64%, transparent 100%), radial-gradient(circle at 35% 75%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 6%, transparent 6%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 56% 75%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 16%, transparent 16%, transparent 23%, transparent 23%, transparent 100%), radial-gradient(circle at 42% 0%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 3%, transparent 3%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 29% 28%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 51%, transparent 51%, transparent 75%, transparent 75%, transparent 100%), radial-gradient(circle at 77% 21%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 35%, transparent 35%, transparent 55%, transparent 55%, transparent 100%), radial-gradient(circle at 65% 91%, hsla(329, 0%, 99%, 0.05) 0%, hsla(329, 0%, 99%, 0.05) 46%, transparent 46%, transparent 76%, transparent 76%, transparent 100%), linear-gradient(45deg, rgb(83, 91, 235), purple); */
}
.background h3{
    position: absolute;
    top: 20%;
    left: 50%;
}

.background p {
    font-size: 12px;
    position: absolute;
    top: 30%;
    width: 30%;
    left: 50%;
    /* color: #fff; */
}

.box {
    margin-top: 20px;
    display: flex;
}
.hum {
    display: none;
}

.b1 {
    
    border-radius: 4%;
    height: auto;
    background-color: rgb(250, 250, 250);
    flex: 1;
}
.b3 {
    border-radius: 4%;
    height: auto;
    background-color: rgb(250, 250, 250);
    flex: 1;
}
.b1:hover {
    transition: 1s;
    background-color:rgb(203, 195, 227);
   
    box-shadow: 5px 4px 5px black;
}

.b2:hover {
    transition: 1s;
    background-color:rgb(203, 195, 227);
   
    box-shadow: 5px 4px 5px black;
}
.b3:hover {
    transition: 1s;
    background-color:rgb(203, 195, 227);
   
    box-shadow: 5px 4px 5px black;
}

.b4:hover {
    transition: 1s;
    background-color:rgb(203, 195, 227);
   
    box-shadow: 5px 4px 5px black;
}

.b2 {
    padding-left: 10px;
    border-radius: 10px;
    height: auto;
    background-color: rgb(250, 250, 250);
    flex: 2;
}
.b4 {
    padding-left: 10px;
    border-radius: 10px;
    height: auto;
    background-color: rgb(250, 250, 250);
    flex: 2;
}
.b1 ul {
    margin-left: 40px;
}
.b3 ul {
    margin-left: 40px;
}

@media only screen and (max-width: 670px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }

    .box {

        display: flex;
        flex-direction: column;
        align-self: center;
    }
  
    .box .b2 {
        
        margin-top: 30px;
    }

    .img {
        width: 100px;
        margin-top: 20px;
    }

    .background p {
        font-size: 7px;
        display: flex;
        float: right;
        width: 50%;

    }
    .background h3{
        margin-top: -10px;
    }

    .content h1 {
        font-size: 15px;
    }

}